.header {
    display: flex;
    flex: 0 0 100%;
    justify-content: center;
    height: auto;
    background: goldenrod;
    position: fixed;
    top: 0;
    width: 100%;
  
    img {
      max-width: 100%;
  
      @media screen  and (max-width: 570px) {
        flex: 0 0 100%;
      }
    }
  }